.jumbotron {
    background-color: yellow;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 1rem;
}

.card-hotel {
    margin-top: 10px;
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
}

.btn-reserva {
    border-radius: 0;
    width: 100%;
}
.footer-adress-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}