@yellow:#ff825c;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    margin-top: 50px;
    .margenes(50px, 0);
 }
  
  footer {
    padding: 10px 10px 10px;
    background-color: @yellow;
    .margenes(10rem, 0);
 }
  
  .card-hotel {
    margin-top: 10px;
    flex: 1 200px;
    padding: 2px 0px 2px 0px; }
  
  .btn-reserva {
    border-radius: 0;
    width: 100%; }
  
  .footer-adress-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  